body
{
    background:#383838;
}

h3
{
    color:rgb(92, 218, 218);
}

.nav
{
    min-height:60px;
    background:#0f0f0f;
    display:grid;
    grid-template-columns: 1fr 3fr;
}

.nav-ul
{
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.nav-menu
{
    display:grid;
    align-content: center;
}

.rick-logo
{
    height:60px;
    margin-left:3px;
}

.nav-ul a 
{
    text-decoration:none;
    color:rgb(92, 218, 218);
    font-size:20px;
}

.container
{
    width:90%;
    margin:0 auto;
    margin-top:20px;
}



